---
---

<footer>
  <section id="socials">
    <!-- TODO socials
    [linkedin]: ???
    [github]: ???
    [instagram]: ???
    [other]: ????
    -->
  </section>
  <section id="disclaimer">
    <p>© 2025–2025 <a>jahndan</a>. All rights reserved.</p>
  </section>
</footer>

<style>
  * {
    text-align: inherit;
  }

  footer {
    font-family: var(--font-body);
    padding: 1rem 0;
    border-top: var(--thick-0) solid var(--color-neutral-8);
  }

  #disclaimer {
    color: var(--color-neutral-9);
    font-size: 0.75rem;
    text-align: center;
  }
</style>
