/* This is just a bunch of semantic CSS variables to use as design tokens across the site's styling */

:root {
  --max-page-width: 800px;
  --paragraph-spacing: var(--space-8);
  --block-spacing: var(--space-12);
  --font-display: "Libertinus Serif", ui-serif, Georgia, serif, emoji;
  --font-body: "Libertinus Sans", ui-sans-serif, Helvetica, Arial, sans-serif, emoji;
  --font-monospace: "IBM Plex Mono", "Roboto Mono", ui-monospace, monospace;
}

/* SPACING SCALE */

:root {
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;

  --thick-0: 0.75pt; /* extra thin border */
  --thick-1: 1.00pt; /* default border */
  --thick-2: 1.50pt; /* extra thick border */

  --radius-1: 3px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 12px;
  --radius-6: 16px;
}

/*
COLOR SCALES:
- 1-2 are good as backgrounds for elements placed in the background
- 3-5 are good as backgrounds for elements placed in the foreground
- 6-8 are good for borders
- 9-10 are good as backgrounds for important interactive elements, but may
  require inverted text color to have acceptable contrast
- 11-12 are good as main text colors
*/

:root {
  --color-primary-1: oklch(0.99 0.0026 240);
  --color-primary-2: oklch(0.98 0.0083 240);
  --color-primary-3: oklch(0.96 0.0166 240);
  --color-primary-4: oklch(0.93 0.0307 240);
  --color-primary-5: oklch(0.90 0.0465 240);
  --color-primary-6: oklch(0.86 0.0669 240);
  --color-primary-7: oklch(0.80 0.0871 240);
  --color-primary-8: oklch(0.72 0.1171 240);
  --color-primary-9: oklch(0.60 0.1282 240);
  --color-primary-10: oklch(0.57 0.1132 240);
  --color-primary-11: oklch(0.51 0.1088 240);
  --color-primary-12: oklch(0.41 0.1009 240);

  --color-secondary-1: oklch(0.99 0.0026 150);
  --color-secondary-2: oklch(0.98 0.0083 150);
  --color-secondary-3: oklch(0.96 0.0166 150);
  --color-secondary-4: oklch(0.93 0.0307 150);
  --color-secondary-5: oklch(0.90 0.0465 150);
  --color-secondary-6: oklch(0.86 0.0669 150);
  --color-secondary-7: oklch(0.80 0.0871 150);
  --color-secondary-8: oklch(0.72 0.1171 150);
  --color-secondary-9: oklch(0.60 0.1282 150);
  --color-secondary-10: oklch(0.57 0.1132 150);
  --color-secondary-11: oklch(0.51 0.1088 150);
  --color-secondary-12: oklch(0.41 0.1009 150);

  --color-neutral-1: oklch(0.99 0.0013 270);
  --color-neutral-2: oklch(0.98 0.0026 270);
  --color-neutral-3: oklch(0.96 0.0041 270);
  --color-neutral-4: oklch(0.93 0.0055 270);
  --color-neutral-5: oklch(0.91 0.0068 270);
  --color-neutral-6: oklch(0.88 0.0096 270);
  --color-neutral-7: oklch(0.85 0.0124 270);
  --color-neutral-8: oklch(0.79 0.0156 270);
  --color-neutral-9: oklch(0.64 0.0165 270);
  --color-neutral-10: oklch(0.60 0.0167 270);
  --color-neutral-11: oklch(0.50 0.0142 270);
  --color-neutral-12: oklch(0.24 0.0096 270);
}

.dark {
  --color-primary-1: oklch(0.18 0.0242 240);
  --color-primary-2: oklch(0.21 0.0295 240);
  --color-primary-3: oklch(0.27 0.0518 240);
  --color-primary-4: oklch(0.32 0.0733 240);
  --color-primary-5: oklch(0.36 0.0824 240);
  --color-primary-6: oklch(0.42 0.0962 240);
  --color-primary-7: oklch(0.47 0.1076 240);
  --color-primary-8: oklch(0.51 0.1168 240);
  --color-primary-9: oklch(0.58 0.1328 240);
  --color-primary-10: oklch(0.67 0.1122 240);
  --color-primary-11: oklch(0.77 0.1139 240);
  --color-primary-12: oklch(0.86 0.0821 240);

  --color-secondary-1: oklch(0.18 0.0242 150);
  --color-secondary-2: oklch(0.21 0.0295 150);
  --color-secondary-3: oklch(0.27 0.0518 150);
  --color-secondary-4: oklch(0.32 0.0733 150);
  --color-secondary-5: oklch(0.36 0.0824 150);
  --color-secondary-6: oklch(0.42 0.0962 150);
  --color-secondary-7: oklch(0.47 0.1076 150);
  --color-secondary-8: oklch(0.51 0.1168 150);
  --color-secondary-9: oklch(0.58 0.1328 150);
  --color-secondary-10: oklch(0.67 0.1122 150);
  --color-secondary-11: oklch(0.77 0.1139 150);
  --color-secondary-12: oklch(0.86 0.0821 150);

  --color-neutral-1: oklch(0.18 0.0031 270);
  --color-neutral-2: oklch(0.21 0.0037 270);
  --color-neutral-3: oklch(0.25 0.0041 270);
  --color-neutral-4: oklch(0.28 0.0074 270);
  --color-neutral-5: oklch(0.31 0.0091 270);
  --color-neutral-6: oklch(0.35 0.0105 270);
  --color-neutral-7: oklch(0.40 0.0127 270);
  --color-neutral-8: oklch(0.49 0.0159 270);
  --color-neutral-9: oklch(0.54 0.0172 270);
  --color-neutral-10: oklch(0.63 0.0169 270);
  --color-neutral-11: oklch(0.77 0.0142 270);
  --color-neutral-12: oklch(0.95 0.0027 270);
}

:root {
  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02);
}
.dark {
  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
